/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /* utility classes starts */

  .ls_flex{

  }
  .ls_container{
        width: 100%;
        max-width: 1202px;
        padding: 0 16px;
        margin: 0 auto;
  }

  .ls_btn{}
  /* utility classes ends */


  /* main style starts */
  body{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
  }


  /* google font */

  body{
    font-family: "EB Garamond", serif;
  }

  .font-poppins{
    font-family: "Poppins", sans-serif;
  }

  